################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
*.suo
/The Game Game (Part the First)/bin/Debug/netcoreapp3.1
/The Game Game (Part the First)/obj
